body{
  text-align: center;
  background-color: black;
  background-image: url(https://cdn.discordapp.com/attachments/590932607466733568/886258329943429170/imgonline-com-ua-Blur-kyeso81AJV.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
  width: 100%;
  z-index: 1;
}
.fight{
  background-color: white;
  position: relative;
  font-size: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 700px;
  background: rgba(255,255,255,0.5);
  z-index: 2;
  font-family: impact;
  transition: 1s all;
}
